<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Giriş</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/laforet.jpg') }}">

</head>
<body>

<div class="login-wrapper">

    <h2>Admin Giriş</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Kullanıcı Adı" required>
        <input type="password" name="password" placeholder="Şifre" required>
        <button type="submit">Giriş Yap</button>
    </form>

</div>

<a href="/" class="back-link">
    ← Siteye Dön
</a>

</body>

</html>
