<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}La Forèt İstanbul{% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/laforet.jpg') }}">




    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<header>
    <a class="brand" href="{{ url_for('index') }}">La Forèt İstanbul</a>

    <div class="menu-toggle" id="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav id="nav">
        <a href="{{ url_for('index') }}">Ana Sayfa</a>
        <a href="{{ url_for('about') }}">Hakkımızda</a>
        <a href="{{ url_for('contact') }}">İletişim</a>
        <a href="{{ url_for('blog_list') }}">Blog</a>
    </nav>
</header>

{% block content %}{% endblock %}

<script>
    const toggle = document.getElementById('menu-toggle');
    const nav = document.getElementById('nav');

    toggle.addEventListener('click', () => {
        nav.classList.toggle('active');
    });
</script>

</body>
</html>
